<head>
  <link type="text/css" rel="stylesheet" href="https://fbstatic-a.akamaihd.net/rsrc.php/v2/yi/r/76f893pcD3j.css" />
  <link type="text/css" rel="stylesheet" href="https://fbstatic-a.akamaihd.net/rsrc.php/v2/yD/r/8bQmFE8bja-.css" />
  <link type="text/css" rel="stylesheet" href="https://fbstatic-a.akamaihd.net/rsrc.php/v2/ya/r/IFWy6tEXzfX.css" />
  <link type="text/css" rel="stylesheet" href="https://fbstatic-a.akamaihd.net/rsrc.php/v2/yl/r/MCQoT5WQEco.css" />
  <link type="text/css" rel="stylesheet" href="https://fbstatic-a.akamaihd.net/rsrc.php/v2/yJ/r/pFzjGIdd-11.css" />
  <link type="text/css" rel="stylesheet" href="https://fbstatic-a.akamaihd.net/rsrc.php/v2/yl/r/xlVxNE40GKJ.css" />
  <%= stylesheet_link_tag "set_format", "set_owned", "set_heard", "set_rating", "styles_v5", "paginate_v1", :media => "all"%>
	<!--[if IE]>
  <%= stylesheet_link_tag "ie_styles_v1" %> 
	<![endif]-->
</head>
<a href="http://1001albums.fisheyedev.com/iframewantedtab">WANTED LIST</a>
<a href="http://1001albums.fisheyedev.com/iframemyalbumstab">ALBUMS LIST</a>
<% if @DEBUG %>
<div class="debugger">
	<span id = "ajax_debug">Debug</span><br>
	<span id = "ajax_debug2">Debug2</span><br>
	<a href="javascript:do_js_break_into_debugger()">Click Here to Debug</a><br>
</div>
<% end %>

