<div class="tabheader">
  <h3><%= @fb_user["first_name"].possessive %> Wanted List</h3>
    <%= render(:partial => "wanted_filters") %>
    <div id="wanted_albums" class="albums_display">
  </div>
</div>
