<div class="tabheader">
<h3><%= @fb_user["first_name"].possessive %> Friends' Stats</h3>
</div>

<div id="friends_stats" class="leader_boards">
</div>

<div id="hidden_form" style="display:none"></div>
