<%= render :partial => "header" %>

<div class="tabheader">
<br>
<h1><%= fb_name(@fb_user, :useyou => :false, :firstnameonly => :true, :possessive => :true) %> Albums</h1><br>

<fb:iframe src="<%=$APP_ROOT%>iframemyalbumstab" width="755" height="510" frameborder="0" scrolling="no"> </fb:iframe>
