<div class="paginateheader">
  <%= will_paginate @details, :inner_window => 10, :page => @cur_page, :renderer => 'RemoteLinkRenderer', :remote => {:update => 'wanted_albums'} %>
</div>

<div class="scrolling_albums">
<% @details.each do |detail| %>
		<%= render(:partial => "/main/wanted_albums_detail", :locals => {:detail => detail}) %>
<% end %>
</div>
