<div class="paginateheader">
	<%= will_paginate @details, :inner_window => 10, :page => @cur_page, :renderer => 'RemoteLinkRenderer' , :remote => {:update => 'my_albums'} %>
</div>

<div id="my_albums_scroll" class="scrolling_albums">
<% @details.each_slice(2) do |detail| %>
<div class="row">
  <div class="span8">
	<%= render :partial => "/main/editable_albums_detail", :locals => {:detail => detail[0]} %>
  </div>
  <% unless detail[1].nil? %>
  <div class="span8">
	<%= render :partial => "/main/editable_albums_detail", :locals => {:detail => detail[1]} %>
  </div>
  <% end %>
</div>
<% end %>
</div>
<script>
  do_js_set_div_height('my_albums_scroll')
</script>
