                    <li class='current-heard-<%=@detail.heard_id.to_s%>'></li>
                      <li>
                        <%= fast_ltr_details('Heard It','heard',1,@detail.album_id) %>
                      </li>

