<head>
   <link type="text/css" rel="stylesheet" href="http://static.ak.fbcdn.net/rsrc.php/z2WWB/lpkg/8669a2b0/en_US/141/159046/css/a264p1a9cnscssok.pkg.css" />
    <link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z6XDS/lpkg/9iejmmzn/en_US/141/158771/css/1zyeeo7k8o0088kg.pkg.css" />
    <link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z6GX1/lpkg/55b409pf/en_US/141/156414/css/6fbbrvrb5vwo8c84.pkg.css" />
    <link type="text/css" rel="stylesheet" href="http://static.ak.fbcdn.net/rsrc.php/zDL7I/l/eg7j6w9x/en_US/155032/css/confirm_reg_email.css" />
    <link type="text/css" rel="stylesheet" href="http://static.ak.fbcdn.net/rsrc.php/z3ALQ/lpkg/1rwuzgqz/en_US/141/131320/css/87hbj2xozsgsgko0.pkg.css" />
    <link type="text/css" rel="stylesheet" href="http://static.ak.fbcdn.net/rsrc.php/z2K04/lpkg/10vvgtg8/en_US/141/158266/css/ebnwsz0dp68skk00.pkg.css" />

    <link type="text/css" rel="stylesheet" href="http://static.ak.fbcdn.net/rsrc.php/z8ZNQ/lpkg/1rdzs8at/en_US/141/158266/css/3javjduw4400c0sk.pkg.css" />
    <link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z23OX/l/ei53t7i5/en_US/157994/css/streams/UIIntentionalStory.css" />
    <link type="text/css" rel="stylesheet" href="http://static.ak.fbcdn.net/rsrc.php/z1CBR/l/eyb8p6oc/en_US/158218/css/streams/UIIntentionalStream.css" />
    <link type="text/css" rel="stylesheet" href="http://static.ak.fbcdn.net/rsrc.php/z9G0T/l/9tarviz2/en_US/157783/css/ui/UIActionMenu.css" />
    <link type="text/css" rel="stylesheet" href="http://static.ak.fbcdn.net/rsrc.php/z2FUI/l/8fkujrwg/en_US/151675/css/like/like.css" />
    <link type="text/css" rel="stylesheet" href="http://static.ak.fbcdn.net/rsrc.php/z354X/lpkg/5xa5feca/en_US/141/155032/css/avqf3zq4sh4o4gg8.pkg.css" />
    <link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z7DEX/l/22izj97o/en_US/152724/css/adz/feedback.css" />
    <link type="text/css" rel="stylesheet" href="http://static.ak.fbcdn.net/rsrc.php/z4HZF/lpkg/1b8pbhf6/en_US/141/154587/css/4i7yo5evsa04so80.pkg.css" />
    <link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z35IV/l/egq8jqz5/en_US/157765/css/composer/UIComposer.css" />

    <link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zDU0C/l/53bsky62/en_US/157394/css/FriendAddingTool.css" />
    <link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z1H43/lpkg/awh2p3hb/en_US/141/157772/css/1uom3yh8tp7o4so4.pkg.css" />
    <link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z963S/lpkg/6r816o1b/en_US/141/159039/css/5dngh93opg8wos48.pkg.css" />
    <link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z4WHW/lpkg/8d8gr905/en_US/141/141102/css/cq3cnbvaskoow4w0.pkg.css" />
<!--[if lte IE 6]><link rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zAGZP/l/9fsyqbz1/en_US/156664/css/ie6.css" type="text/css"/><![endif]-->
<!--[if IE 7]><link rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z2AFA/l/c5bsc0f9/en_US/156664/css/ie7.css" type="text/css"/><![endif]-->


  <%= stylesheet_link_tag "set_format", "set_owned", "set_heard", "set_rating", "styles_v5", "paginate_v1", :media => "all"%>
	<!--[if IE]>
  <%= stylesheet_link_tag "ie_styles_v1" %> 
	<![endif]-->
	
</head>

<% if @DEBUG %>
<div class="debugger">
	<span id = "ajax_debug">Debug</span><br>
	<span id = "ajax_debug2">Debug2</span><br>
	<a href="javascript:do_js_break_into_debugger()">Click Here to Debug</a><br>
</div>
<% end %>

