/*             styles for the rating picker                */    
    .set-rating{
        list-style:none;
        margin:0px;
        padding:0px;
        width: 96px;
        height: 24px;
        position: relative;
				background: url(http://1001Albums.fisheyedev.com/images/rating.gif) no-repeat scroll 0px;
    }
    .set-rating li{
        padding:0px;
        margin:0px;
        float: left;
    }
    .set-rating li a{
        display: block;
        width: 24px;
        height: 24px;
        text-decoration: none;
        text-indent: -9000px;
        position: absolute;
        padding: 0px;
				z-index: 20;
    }
    .set-rating li a:hover{
        left: 0px;
        border:none;
				cursor: pointer;
    }
    .set-rating a.rating-1{
        left: 0px;
    }
    .set-rating a.rating-1:hover{
				background: url(http://1001Albums.fisheyedev.com/images/rating.gif) no-repeat scroll -96px 0px;
				width: 96px;
				z-index: 4;
    }
    .set-rating a.rating-2{
        left: 24px;
    }
    .set-rating a.rating-2:hover{
				background: url(http://1001Albums.fisheyedev.com/images/rating.gif) no-repeat scroll -192px 0px;
				width: 96px;
				z-index: 4;
    }
    .set-rating a.rating-3{
				left: 48px;
    }
    .set-rating a.rating-3:hover{
				background: url(http://1001Albums.fisheyedev.com/images/rating.gif) no-repeat scroll -288px 0px;
        width: 96px;
				z-index: 4;
    }
    .set-rating a.rating-4{
				left: 72px;
    }
    .set-rating a.rating-4:hover{
				background: url(http://1001Albums.fisheyedev.com/images/rating.gif) no-repeat scroll -384px 0px;
        width: 96px;
				z-index: 4;
    }
    .set-rating li.current-rating-1{
				background: url(http://1001Albums.fisheyedev.com/images/rating.gif) no-repeat scroll -96px 0px;
       	width: 96px;
				height: 24px;
				z-index: 1;
				position: absolute;
				display: block;
				text-indent: -9000px;
    }
    .set-rating li.current-rating-2{
				background: url(http://1001Albums.fisheyedev.com/images/rating.gif) no-repeat scroll -192px 0px;
        width: 96px;
				height: 24px;
				z-index: 1;
				position: absolute;
				display: block;
				text-indent: -9000px;
    }
    .set-rating li.current-rating-3{
				background: url(http://1001Albums.fisheyedev.com/images/rating.gif) no-repeat scroll -288px 0px;
        width: 96px;
				height: 24px;
				z-index: 1;
				position: absolute;
				display: block;
				text-indent: -9000px;
		}
    .set-rating li.current-rating-4{
				background: url(http://1001Albums.fisheyedev.com/images/rating.gif) no-repeat scroll -384px 0px;
        width: 96px;
				height: 24px;
				z-index: 1;
				position: absolute;
				display: block;
				text-indent: -9000px;
    }
