	.test {
		border: 3px solid #00ff00;
	}
	.tabheader {
		border: 1px solid #000000;
		padding: 8px;
		margin: 100px;
	}
	.paginateheader {
		padding: 8px;
		align: center;
	}
  .pagination {
    padding: 3px;
    margin: 2px;
  }
  .pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #aaaadd;
    text-decoration: none;
    color: #000099;
  }
  .pagination a:hover, .pagination a:active {
    border: 1px solid #000099;
    color: #000;
  }
  .pagination span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #000099;
    font-weight: bold;
    background-color: #000099;
    color: #FFF;
  }
  .pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #eee;
    color: #ddd;
  }
