<h1><%=@error_message%></h1>
<br>
<a href="<%=$FB_APP_ROOT%>">Click Here To Go To The 1001 Albums You Must Hear Before You Die Homepage</a>
<!--
<script language="JavaScript">

	function doRedirect()
	{
    setTimeout( document.setLocation("<%=$FB_APP_ROOT%>"), 5000 );
	}

	doRedirect();

</script>
-->
