<!-- Here is where we keep all of the fun common stuff -->

<head>
	<%= stylesheet_link_tag "styles_v5.css", :media => "all" %>
</head>

<%= yield :layout %>

<script>
<%= render :partial => "/layouts/ajax_scripts" %>
</script>
